
body, h1, h2, p, ul, li, a, img {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #5C5C5C;
    color: #fff;
    overflow-y: scroll; 
}

@media (max-width: 768px) {
    body {
        font-size: 1rem; 
    }
    nav ul {
        font-size: 1rem; 
        padding: 5px; 
    }
}


header {
    background-color: #6F8F72;
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    color: #FFEAAE;
}
header a {
    color: #000000; 
    text-decoration: none; 
}
h1 a {
    background-color: #86cf8c;
    border-radius: 0.5rem;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h2 {
    font-family: 'Sanchez', sans-serif;
}

.image-text-container {
    display: flex;
    align-items: top;
    margin-top: 20px; 
}

.image-text-container img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-right: 20px; 
}

img {
    border:#86cf8c;
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 3rem;
}

.contact-info {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem; 
}


nav {
    background-color: #FFEAAE;
    text-align: center;
    padding: 10px ;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px; 
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
}
nav ul li:last-child a {
    border: 5px solid rgb(15, 167, 86); 
    padding: 5px 10px; 
    border-radius: 100px; 
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1pxrgb(0, 0, 0)fff, 1px 1px 0 #000000;
    background-color: rgb(15, 167, 86);
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px; 
}

nav li:last-child {
    margin-left: auto;
}

nav a {
    color: #000;
    text-decoration: none;
    
}

.logo {
    max-width: 6rem;
  }

img {
    max-width: 50%; 
    max-height: 30%; 
    height: auto;
    display: block;
}

ul {
    margin-left: 1rem;
    list-style-type: none;
}


.content {
    background-color: #916953;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
.content img {
    width: auto; 
    height: 15em;
}


.content img.statistics-image {
    display: inline-block;
    max-width: 30%; 
    height: auto;
    margin-right: 10px; 
}

.content img.demographics-image {
    display: inline-block;
    max-width: 30%; 
    height: auto;
    margin-right: 10px; 
}




.column {
    background-color: #916953;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    width: 30%; 
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top; 
    min-height: 100vh;
}

.column img {
    display: block;
    margin: 10px auto;
    max-width: 100%; 
    height: auto; 
}

.column ul {
    margin-left: 1rem;
}


footer {
    position: relative;
    bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
